<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruit_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="HomeCtrl">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4">
                    Veggies
                    <div class="well well-sm text-center" ng-repeat="item in veggies">
                        <div><button type="button" class="btn btn-primary glyphicon glyphicon-chevron-left" ng-click="shiftLeft()"></button>{{item}}<button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right"></button></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    Pool
                    <div class="well well-sm text-center" ng-repeat="item in vegetables">
                        <div><button type="button" class="btn btn-primary glyphicon glyphicon-chevron-left" ng-click="shiftLeft($index)"></button>{{item}}<button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right"></button></div>
                    </div>
                    <div class="well well-sm text-center" ng-repeat="item in fruits">
                        <div><button type="button" class="btn btn-primary glyphicon glyphicon-chevron-left"></button>{{item}}<button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right" ng-click="shiftRight($index)"></button></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    Fruits
                    <div class="well well-sm text-center" ng-repeat="item in fruit">
                        <div><button type="button" class="btn btn-primary glyphicon glyphicon-chevron-left"></button>{{item}}<button type="button" class="btn btn-primary glyphicon glyphicon-chevron-right" ng-click="shiftRight()"></button></div>
                    </div>
                </div>                        
            </div>
        </div>
    </body>
</html>
